html{
    font-size: 11px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div{
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv{
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none
}

#profileinfo {
    display: none
}

.buttongroup{
    text-align: center;
}

button {
    margin: 4px;
}


.loader {
    margin: 5rem auto;
    text-align: center; }
    .loader svg {
      height: 5.5rem;
      width: 5.5rem;
      fill: #F59A83;
      transform-origin: 44% 50%;
      animation: rotate 1.5s infinite linear; }
  
@keyframes rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } }