html{
    font-size: 11px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div{
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv{
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none
}

#profileinfo {
    display: none
}

.buttongroup{
    text-align: center;
}

button {
    margin: 4px;
}

#paper {
    background-color: #000000;
    border-radius: 6px;
}
#cursors {
    position: relative;
}
#cursors .cursor {
    position: absolute;
    width: 15px;
    height: 22px;
    background: url('images/pointer.png') no-repeat -4px 0;
}
